.main-bg{
    background-position: center center;
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    color: var(--white-color);
}

.white-bg{
    background-color: var(--white-color);
}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.section{
    min-height: 100vh;
}

.menu-spacing{
    height: 6.5rem;
}